{% extends "layout.html" %}

{% block body %}
<div class="jumbotron" style="background-color: #6f42c1; padding: 30px; color: white;">
    <h1 class="display-4">Merhaba, Hoş Geldin!💜</h1>
    <p class="lead">Fuyu Blog, "Fuyu COMPANY®" tarafından geliştirilen kullanıcıların görsel ve diğer içeriklerini diğer kullanıcılarla paylaşabilmesine ve aranan herhangi bir görsele anında erişebilmeye olanak sağlayan  basit arayüze sahip bir websitesidir. </p>
    <hr class="my-4">
    <p>Peki biz kimiz ve ne yapıyoruz?</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/about" role="button">Daha Fazla Bilgi Al</a>
    </p>
</div>

<div class="jumbotron" style="background-color: #6f42c1; padding: 30px; color: white;">
  <h1 class="display-4">İçerik Paylaşmaya Şimdi Başlayın!</h1>
  <p class="lead">Kendi ürettiğiniz veya sanal ortamda bulunan görsel, metin veya video tabanlı o en sevdiğiniz içerikleri Fuyu'da paylaşın! </p>
  <hr class="my-4">
  <p>İçeriklerini paylaşmak ve diğer kullanıcılarla etkileşime geçmek için sen de aramıza katıl!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/register" role="button">Kayıt Olun</a>
  </p>
</div>

<div class="jumbotron" style="background-color: #6f42c1; padding: 30px; color: white;">
  <h1 class="display-4">Gönderileri Görün!</h1>
  <p class="lead">Diğer kullancıların paylaştığı ve senin paylaştığın içerikleri görebilirsin!</p>
  <hr class="my-4">
  <p>Hadi durma ve sen de bir içerik paylaş!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/posts" role="button">Gönderiler</a>
  </p>
</div>


<div class="card text-bg-primary mb-3" style = "max-width: 100rem; background-color: #6f42c1; color: white"> 
  <div class = "card-header, text-center">Talep ve Öneri</div>
  <div class = "card-body, text-center">
      <p>Talep ve önerileriniz için
      "@shineguclu@gmail.com"
      adresinden bizimle iletişime geçebilirsiniz.</p>
      
  </div>
</div>



{% endblock %}





